.section3 {
  margin-bottom: 50px;
}

.compass-box-container {
  width: 350px;
  height: 250px;
  background-color: #273847;
  padding: 15px;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
}

.compass-box-container span:nth-child(1) {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 17px;
}

.compass-box-container span:nth-child(2) {
  color: #ea4463;
  font-size: 15px;
  display: block;
}

.compass-box-container span:nth-child(3) {
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: #ea4463;
  font-size: 15px;
  margin-left: 230px;
  margin-top: 0;
}

.compass-box-bg {
  width: 350px;
  height: 250px;
  background-color: #d7f0f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -250px;
  transition: all 0.3s linear;
}

.compass-box-bg:hover {
  transform: scale(0.5) translateY(-80px);
}

.compass-box-bg .compass-box {
  width: 100px;
  height: 100px;
  background-color: #3dbee9;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

.compass-box .compass-container {
  width: 60px;
  height: 60px;
  background-color: #3dbeeb;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  border-radius: 50%;
  border: 8px solid white;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.compass-shadow {
  background-color: #3a5ea3;
  width: 66px;
  height: 61px;
  border-radius: 10px;
  transform: rotate(45deg);
  position: relative;
  top: -40px;
  right: -18px;
  z-index: 1;
}

.compass-container .outside-dot:nth-child(1) {
  position: absolute;
  background-color: white;
  left: -11px;
  bottom: 19px;
}

.compass-container .outside-dot:nth-child(2) {
  position: absolute;
  background-color: white;
  right: -11px;
  bottom: 19px;
}

.compass-container .outside-dot:nth-child(3) {
  position: absolute;
  background-color: white;
  top: -11px;
  right: 19px;
}

.compass-container .outside-dot:nth-child(4) {
  position: absolute;
  background-color: white;
  bottom: -11px;
  right: 19px;
}

.compass-dot {
  background-color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.compass-container .compass {
  width: 100%;
  height: 100%;
  background-color: #d7f0f9;
  border-radius: 50%;
  border: 5px solid #78daf8;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(0, 0, 0, 0) 50%
  );
  position: relative;
}

.compass .inside-dot {
  position: absolute;
  top: -5px;
  left: -3px;
}

.compass .red-pin {
  width: 5px;
  height: 15px;
  background-color: #ef8379;
  border-radius: 2.5px 2.5px 0 0;
  transform: rotate(15deg);
  position: absolute;
  top: -8px;
  right: 3px;
}

.compass .white-pin {
  width: 5px;
  height: 15px;
  background-color: white;
  border-radius: 0 0 2.5px 2.5px;
  transform: rotate(15deg);
  position: absolute;
  top: 7px;
  right: 7px;
}
