.section2 {
  margin-bottom: 50px;
}

.game-box-bg {
  width: 350px;
  height: 250px;
  background-color: #f7a4a1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-box-bg:hover > .game-box {
  transform: translateY(-40px);
}

.game-box {
  width: 100px;
  height: 100px;
  background-color: #f0efef;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.game-box .circle:nth-child(1) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #32bbe7;
  position: absolute;
  bottom: 25px;
  left: 15px;
  background-image: radial-gradient(
    circle at 35% 35%,
    rgba(255, 255, 255, 0.3) 15%,
    transparent 15%
  );
  z-index: 2;
}

.game-box .circle:nth-child(2) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f8de6a;
  position: absolute;
  right: 13px;
  top: 18px;
  background-image: radial-gradient(
    circle at 35% 35%,
    rgba(255, 255, 255, 0.3) 15%,
    transparent 15%
  );
  z-index: 1;
}

.game-box .circle:nth-child(3) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f27b71;
  position: absolute;
  right: 15px;
  bottom: 25px;
  background-image: radial-gradient(
    circle at 35% 35%,
    rgba(255, 255, 255, 0.3) 15%,
    transparent 15%
  );
  z-index: 3;
}

.game-box .circle:nth-child(4) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #069d8f;
  position: absolute;
  right: 40px;
  bottom: 20px;
  background-image: radial-gradient(
    circle at 35% 35%,
    rgba(255, 255, 255, 0.3) 15%,
    transparent 15%
  );
  z-index: 4;
}

.game-box .circle-shadow {
  background-color: #373937;
  width: 84px;
  height: 70px;
  position: absolute;
  left: 36px;
  top: 36px;
  border-radius: 10px;
  transform: rotate(45deg);
}

.game-box-bg .game-subtitle {
  width: 100%;
  height: 0;
  padding: 15px;
  background-color: #273847;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.game-box-bg:hover > .game-subtitle {
  height: 40%;
  opacity: 1;
}

.game-box-bg:hover > .game-subtitle span:nth-child(1),
.game-box-bg:hover > .game-subtitle span:nth-child(2),
.game-box-bg:hover > .game-subtitle span:nth-child(3) {
  opacity: 1;
}

.game-box-bg .game-subtitle span:nth-child(1) {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 17px;
  opacity: 0;
}

.game-box-bg .game-subtitle span:nth-child(2) {
  color: #ea4463;
  font-size: 15px;
  display: block;
  opacity: 0;
}

.game-box-bg .game-subtitle span:nth-child(3) {
  color: white;
  padding: 2px 8px;
  border-radius: 2px;
  background-color: #ea4463;
  margin-top: 20px;
  font-size: 15px;
  margin-left: 230px;
  opacity: 0;
}
