@import url("https://fonts.googleapis.com/css?family=Dosis:700|Open+Sans:400,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

h1,
h4 {
  margin: 0;
}

h4 {
  font-size: 13px;
  font-weight: 300;
}

.phone {
  width: 320px;
  height: 630px;
  background-color: #f6f6f9;
  overflow: hidden;
  border-radius: 30px;
  padding: 15px 15px;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
}

.display {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
  color: #3e3e3e;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("avatar1.png");
  background-size: cover;
  background-position: center;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}

.status-bar .status-bar__clock {
  padding-left: 5px;
  font-weight: 600;
}

.status-bar .status-bar__icons i {
  padding-left: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header i {
  opacity: 0.7;
}

.main .main__profile {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .main__profile h1 {
  font-size: 23px;
  font-family: "Dosis", sans-serif;
  color: #6ebef7;
  padding: 10px 0px;
}

.main__profile .main__avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.main .main__buttons {
  display: flex;
  justify-content: space-between;
}

.main__buttons .main__button {
  margin-top: 15px;
  height: 43px;
  width: 125px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.main__buttons .main__button:last-child {
  background-color: #2899fa;
  color: white;
}

.main .main__subtitles {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 30px;
}

.main__subtitles .main__subtitle h4 {
  word-wrap: break-word;
  text-align: center;
}

.footer {
  margin-top: 130px;
}

.footer .footer__icons {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  opacity: 0.7;
}

.footer .footer__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.footer .footer__home-bar {
  background-color: #9c9da2;
  height: 3px;
  width: 100px;
  border-radius: 3px;
}
