.find {
  padding: 0 20px;
}

.find .find__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.find__icon-btn .find__icon {
  font-size: 25px;
}

.find__icon-btn .find__icon-name {
  font-size: 14px;
  padding-top: 15px;
}

.find .find__recommended {
  border-top: 1px solid #f5f5f5;
}

.find__recommended .find__title {
  font-size: 12px;
}
