.friends {
  padding: 0 20px;
}

.friends__friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.friends__friend .friend__column:first-child {
  display: flex;
}

.friends__plus-friend {
  border-top: 1px solid #f5f5f5;
}

.friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 13px;
  padding-top: 20px;
}

.friends__list {
  border-top: 1px solid #f5f5f5;
}

.friend__music {
  display: block;
  opacity: 0.6;
  font-size: 15px;
  border: 2px solid #05cf5c;
  padding: 4px 10px;
  border-radius: 20px;
}

.friend__music i {
  font-size: 12px;
}

.friend__column .friend__add-btn {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
