.header {
  padding-top: 0;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  background-color: white;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
}

.header__column .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
