.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #f5f5f5;
  background-color: #fcfcfc;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  animation: nav-effect 1s ease-in-out;
}

@keyframes nav-effect {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav .nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-bar .nav-bar__icon {
  font-size: 20px;
}
