.settings .settings__list {
  border-top: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.settings__list .settings__column {
  margin-bottom: 30px;
  font-size: 20px;
}

.settings__list .settings__column:last-child {
  margin-bottom: 0;
}

.settings__column .setting__icon {
  margin-right: 25px;
}

.settings__column .setting__title {
  font-weight: 300;
}
