.status-bar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.status-bar .status-bar__clock {
  opacity: 0.7;
}

.status-bar .status-bar__column i {
  font-size: 14px;
  opacity: 0.7;
}

.status-bar .status-bar__battery {
  margin-left: 5px;
  opacity: 0.7;
}
