.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: white;
}

.status-bar .status-bar__clock {
  opacity: 0.7;
}

.status-bar .status-bar__column i {
  font-size: 14px;
  opacity: 0.7;
}

.status-bar .status-bar__battery {
  margin-left: 5px;
  opacity: 0.7;
}
