@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "friends.css";
@import "friend.css";
@import "nav.css";
@import "chat.css";
@import "find.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: black;
}
