@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "friends.css";
@import "friend.css";
@import "nav.css";
@import "chat.css";
@import "find.css";
@import "more.css";
@import "settings.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0;
}

main {
  animation: loading 0.5s ease-in-out;
}

@keyframes loading {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transfrom: none;
  }
}

a {
  text-decoration: none;
  color: black;
}

.screen {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fce006;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-transform: capitalize;
  display: none;
}

@media screen and (min-width: 700px) {
  .screen {
    display: flex;
  }
}
