@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import "reset2.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: #f8f7ff;
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: rgba(68, 61, 61, 0.4);
}

a {
  text-decoration: none;
  color: #e2273e;
  font-weight: 600;
}

.phone {
  margin: 50px 0px;
  background-color: white;
  width: 350px;
  height: 700px;
  border-radius: 40px;
  padding: 20px;

  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(118, 146, 180, 0.18);
}

.display {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border-radius: 30px;
  padding: 0 22px;
  padding-top: 20px;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}

.header__title {
  color: #443d3d;
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form .form__input {
  all: unset;
  background-color: white;
  padding: 0 10px;
  border: 1px solid rgba(211, 211, 211, 0.3);
  height: 35px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.form .form__input::placeholder {
  color: #bababa;
}

.form .form__input:first-child {
  margin-bottom: 20px;
}

.form .form__link {
  align-self: flex-end;
  font-size: 10px;
  margin-bottom: 20px;
}

.form .form__remember {
  margin-bottom: 50px;
}

.form__remember .form__checkbox {
  all: unset;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 1px solid rgb(180, 177, 177);
  display: inline-block;
  background-color: white;
  position: relative;
}

.form__remember .form__checkbox:checked:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-style: normal;
  font-size: 9px;
  color: #e2273e;
  font-weight: 900;
  position: absolute;
  top: 1px;
}

.form .form__submit {
  background-color: #e3283e;
}

.btn {
  all: unset;

  border-radius: 30px;
  color: white;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  padding: 13px 0;
  width: 100%;
}

.social .social__title {
  color: #7b7475;
  margin-bottom: 24px;
}

.social .social__buttons {
  display: flex;
  margin-bottom: 45px;
}

.social__buttons .social__btn {
  width: 125px;
}

.social .social__btn:first-child {
  background-color: #475a95;
  margin-right: 15px;
}

.social .social__btn:last-child {
  background-color: #5ca1f2;
}

.links .links__link:first-child {
  margin-bottom: 7px;
}
