* {
  box-sizing: border-box;
}

.box {
  margin-bottom: 80px;
  width: 440px;
  height: 330px;
  text-align: left;
  position: relative;
}

img {
  width: 100%;
  transition: transform 0.4s;
}

.caption {
  background-color: #2c3f52;
  position: absolute;
  top: 0;
  left: 0;
  color: #ed4e6e;
}

.caption a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 2px;
  background: #ed4e6e;
  margin-top: 10px;
  color: white;
}

.caption h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: #fff;
}

.first .caption {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}

.first:hover .caption {
  opacity: 1;
  transform: translate(15px, 15px);
}

.second,
.third {
  overflow: hidden;
}

.second .caption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.second .caption a {
  align-self: flex-end;
}

.second:hover .caption {
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.4s, opacity 0.1s;
}

.second:hover img {
  transform: translateY(-50px);
}

.third {
  background-color: #2c3f52;
}

.third img {
  position: relative;
  z-index: 3;
}

.third .caption {
  height: 100px;
  width: 100%;
  position: absolute;
  top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  transform: translateY(-100px);
  z-index: 2;
}

.third:hover img {
  transform: translateY(-50px) scale(0.5);
}

.third .caption a {
  align-self: flex-end;
}
