@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  font-size: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: white;
  width: 300px;
  height: 600px;
  padding: 45px 30px;
  border-radius: 40px;
  box-shadow: 15px 15px 15px #afafaf;
  border: 1px solid #e5e6ec;
}

.login .login__title {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 63px;
}

.login__header .login__inputs {
  text-align: center;
}

.login__input {
  border: 1px solid #eeeeee;
  width: 240px;
  height: 35px;
  border-radius: 10px;
}

.login__input:first-child {
  margin-bottom: 20px;
}

.login__input:last-child {
  margin-bottom: 15px;
}

.login__input::placeholder {
  color: #bbbbbb;
  font-size: 10px;
}

.login .login__forgot {
  text-align: right;
  color: #da433d;
  cursor: pointer;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.login .login__remember {
  margin-bottom: 50px;
  opacity: 0.5;
  letter-spacing: 0;
}

.login .login__sign-in {
  width: 240px;
  height: 33px;
  background-color: #da433d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

h2 {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}

.login .login__boxs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.login .login__box {
  width: 113px;
  height: 33px;
  border-radius: 30px;
  background-color: #4267b2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login .login__box:last-child {
  background-color: #1d94e0;
}

.login .login__footer-block {
  letter-spacing: 0;
  margin-bottom: 10px;
}

.login .login__link {
  color: #da433d;
  cursor: pointer;
}

.login .login__more {
  opacity: 0.5;
}
