@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700&display=swap");
@import "reset.css";

body {
  font-family: "Alegreya", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  height: 100%;
  background-color: #e8e8eb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

* {
  box-sizing: border-box;
}

.phone {
  height: 740px;
  width: 340px;
  border-radius: 30px;
  padding: 0 30px;
  background-image: linear-gradient(
      to bottom,
      rgba(100, 131, 255, 0.2),
      #f1f2f6 50%
    ),
    url("background.jpeg");
  background-size: contain;
  position: relative;
}

.status-bar {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-bar .status-bar__column:last-child {
  font-size: 13px;
}

.status-bar .status-bar__column i {
  padding-left: 1px;
}

.header {
  margin-top: 25px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.more-views {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.more-views .more-views__view {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  background-color: #3f67ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.tag-bar {
  margin-top: 30px;
  margin-bottom: 15px;
}

.tag-bar .tag-bar__tag {
  padding: 3px 10px;
  margin-right: 8px;
  background-color: #94a2cc;
  color: #3f67ff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px 10px 10px 0;
}

.main .main__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.main .main__title-column:first-child {
  font-weight: 700;
  font-size: 33px;
}

.main .main__title-column:last-child {
  color: #ff2238;
  background-color: #f4f5f8;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
}

.main .main__location {
  margin-bottom: 10px;
  display: block;
}

.main .main__location i {
  font-size: 11px;
  color: #3f67ff;
  padding-right: 5px;
}

.main .main__location h4 {
  display: inline;
  opacity: 0.6;
}

.main .main__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 18px;
}

.main .main__rating i {
  font-size: 13px;
  color: #ffb600;
}

.main .main__rating-point {
  font-weight: 600;
  padding: 0 5px;
}

.main .main__rating-column:last-child {
  opacity: 0.6;
}

.main .main__subtitle-title {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 600;
}

.main .main__subtitle p {
  display: block;
  line-height: 28px;
  opacity: 0.7;
}

.main .main__subtitle a {
  text-decoration: none;
  color: #3f67ff;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 10px;
  display: block;
  padding: 10px 0;
}

.nav {
  height: 90px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 30px 30px;
  border: 1px solid #f7f7f7;
  padding: 0 30px;
}

.nav .nav__buttons {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #9aa9c2;
  position: relative;
}

.nav .nav__button {
  padding: 25px 4px;
}

.nav .nav__button:first-child {
  padding-left: 0px;
}

.nav .nav__button:nth-child(2) {
  border-top: 2px solid #3f67ff;
  border-radius: 1px;
}

.nav .nav__button:last-child {
  padding-right: 0px;
}

.nav .nav__big-button-wrapper {
  background-color: #e9ebf2;
  width: 65px;
  height: 35px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: -35px;
  right: 100px;
  border-radius: 32px 32px 0 0;
}

.nav .nav__big-button {
  background-color: #3f67ff;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  color: white;
  border: 4px solid white;
  box-shadow: 0px 5px 10px #e5e6eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav .nav__home-bar-wrapper {
  display: flex;
  justify-content: center;
}

.nav .nav__home-bar {
  height: 4px;
  width: 100px;
  background-color: #e6ebf3;
  border-radius: 5px;
}
